.header-navbar-link {
  font-family: Raleway;
}

@media only screen and (max-width: 600px) {
  header {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    padding: 4%;
  }

  .logo-container {
    width: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .logo {
    width: 100%;
  }

  .header-navbar > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
  }

  .header-navbar > ul > li {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .header-navbar-link {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  header {
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    padding: 4%;
  }

  .logo-container {
    width: 15%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .logo {
    width: 100%;
  }

  .header-navbar > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
  }

  .header-navbar > ul > li {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .header-navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    padding: 4%;
  }

  .logo-container {
    width: 15%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .logo {
    width: 100%;
  }

  .header-navbar > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
  }

  .header-navbar > ul > li {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .header-navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }

  .header-navbar-link:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
  }
}
